@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfdfd;
  --foreground: #171717;
  --primary: #EF4444; /* Vermelho iFood/McDonalds */
}

body {
  color: var(--foreground);
  background: var(--background);
}